{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for friend in friends %}
            <div class="col-lg-3">
                <div class="friend">
                    <img src="{{ friend.profile_image_url }}" alt="{{ friend.name }}" />
                    <span><a href="https://twitter.com/intent/user?user_id={{ friend.id }}" target="_blank">@{{ friend.screen_name }}</a></span>
                    <div class="actions">
                        <span class="action un-follow">Unfollow</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}