{% for friend in friends %}
    <div class="col-lg-3">
        <div class="card friend" id="{{ friend.twitter_id }}" data-id="{{ friend.twitter_id }}">
            <img src="{{ friend.profile_image_url }}" alt="{{ friend.name }}"/>
            <span><a href="https://twitter.com/intent/user?user_id={{ friend.twitter_id }}" target="_blank">@{{ friend.screen_name }}</a></span>
            <div class="actions">
                <button onclick="unFollow({{ friend.twitter_id }})" type="button"
                        class="un-follow btn btn-sm btn-circle btn-raised ripple-effect btn-danger">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <button style="display: none;" onclick="follow({{ friend.twitter_id }})" type="button"
                        class="follow btn btn-sm btn-circle btn-raised ripple-effect btn-info">
                    <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
{% endfor %}