<div class="col-xs-12">
    <table id="list-table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Screen Name</th>
                <th>Name</th>
                <th>Description</th>
                <th>Total favourites</th>
                <th>Followers</th>
                <th>Friends</th>
                <th>Statuses</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for friend in friends %}
            <tr class="card friend" id="{{ friend.twitter_id }}" data-id="{{ friend.twitter_id }}">
                <td>
                    <img src="{{ friend.profile_image_url }}" alt="{{ friend.name }}"/>
                </td>
                <td>
                    <span><a href="https://twitter.com/intent/user?user_id={{ friend.twitter_id }}"
                             target="_blank">@{{ friend.screen_name }}</a></span>
                </td>
                <td>{{ friend.name }}</td>
                <td>{{ friend.description }}</td>
                <td>{{ friend.favourites_count }}</td>
                <td>{{ friend.followers_count }}</td>
                <td>{{ friend.friends_count }}</td>
                <td>{{ friend.statuses_count }}</td>
                <td>{{ friend.location }}</td>
                <td>
                    <button onclick="unFollow({{ friend.twitter_id }})" type="button"
                            class="un-follow btn btn-sm btn-circle btn-raised ripple-effect btn-danger">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                    <button style="display: none;" onclick="follow({{ friend.twitter_id }})" type="button"
                            class="follow btn btn-sm btn-circle btn-raised ripple-effect btn-info">
                        <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>