
html, body {
    background-color: #e2e2e2;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    font-size: 25px;
    color: #e2e2e2;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover {
    color: #e2e2e2;
}

.navbar-default {
    background-color: #546E7A;
    border:none;
    box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.75);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #e2e2e2;
    background-color: #546E7A;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #546E7A;
}

.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #e3e3e3;
}
.navbar-toggle .icon-bar {
    height: 3px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.card {
    background: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.75);
}

#twitter-login {
    text-align: center;
    margin-top: 20%;
}

.friend {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;

    -webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.55);
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.55);
}

.actions {
    text-align: right;
}

.action {
    padding: 4px;
    margin: 4px;
    border-radius: 3px;
    cursor: pointer;
}

/*.un-follow {*/
    /*background: #4a9bff;*/
    /*color: #FFF;*/

    /*-webkit-box-shadow: 0 0 2px 1px rgba(42, 176, 255, 0.55);*/
    /*-moz-box-shadow: 0 0 2px 1px rgba(42, 176, 255,0.55);*/
    /*box-shadow: 0 0 2px 1px rgba(42, 176, 255,0.55);*/
/*}*/

/*.un-follow:hover {*/
    /*background: #8db4ff;*/
    /*color: #FFF;*/
/*}*/

/*.follow {*/
    /*background: #5e9a4a;*/
    /*color: #FFF;*/

    /*-webkit-box-shadow: 0 0 2px 1px rgba(42, 176, 255, 0.55);*/
    /*-moz-box-shadow: 0 0 2px 1px rgba(42, 176, 255,0.55);*/
    /*box-shadow: 0 0 2px 1px rgba(42, 176, 255,0.55);*/
/*}*/

/*.follow:hover {*/
    /*background: #65b45a;*/
    /*color: #FFF;*/
/*}*/