
html, body {
    background-color: #e2e2e2;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    font-size: 25px;
    color: #e2e2e2;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover {
    color: #e2e2e2;
}

.navbar-default {
    background-color: #546E7A;
    border:none;
    box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.75);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #e2e2e2;
    background-color: #546E7A;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #546E7A;
}

.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #e3e3e3;
}
.navbar-toggle .icon-bar {
    height: 3px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.card {
    background: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.75);
}

#twitter-login {
    text-align: center;
    margin-top: 20%;
}

.actions {
    text-align: right;
}

.action {
    padding: 4px;
    margin: 4px;
    border-radius: 3px;
    cursor: pointer;
}

.fab {
    position: fixed;
    bottom: 5%;
    right: 5%;
}



.search-box {
    outline: none;
    border: none;
    width: 100%;
    background: #fff;
    padding: 10px 30px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.75);
}



.material-field {
    margin-bottom: 10px;
    outline: none;
    border: none;
    -webkit-box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.75);
}

.select2-container--default .select2-selection--single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 0 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    margin-bottom: 10px;
    outline: none;
    border: none;
    -webkit-box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.75);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #555555 transparent transparent transparent;
}

.btn-grid-list {
    margin: 0 5px;
    color: #555;
}

.btn-grid-list.active {
    background: white;
    -webkit-box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 0.75);
}
